.mobs{
  height: 50vh;
  width:50vw;
  display:flex;
  background-color: transparent;
  margin-left: auto;
  margin-right:auto;
  margin-top:20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mob1,.mob2{
  width:20vw;
  background-size: 30% 30%;
  background-color: transparent;
  color:white;
}
.link{
  width:10vw;
  background-size: 30% 30%;
  background-color: transparent;
  color:black;
}
@media (max-width:1800px){
  .folder{
    left:19.5vw;
  }
}
@media (min-width:1800px){
  .folder{
    left:19vw;
  }
}

/*1731 792
2163 1033*/
